<div>
    <div class="root">
        <div>
            <div class="header">
                <img src="/image/icon.svg">
                <a href="/profile"><img src="/image/profile.svg"></a>
                <a href="/logout"><img src="/image/logout.svg"></a>
            </div>
            <div class="new_post">
                <div>
                    <label for="new_post"><a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Markup útmutató</a></label>
                    </br>
                    <textarea cols="60" rows="10" id="new_post"></textarea>
                    </br>
                    <label for="images">Képek csatolása</label>
                    </br>
                    <input type="file" id="images" accept="image/jpeg, image/png" multiple value="Képek"/>
                </div>
                <label for="markdown">Itt láthatod formázottan a posztodat.</label>
                <hr>
                <div id="markdown">
                </div>
                <hr>
                <label for="post_button">Ha minden rendben, megoszthatod.</label>
                </br>
                <select>
                    <option value="just-me">Csak én</option>
                    <option value="friends">Ismerősök</option>
                    <option value="public">Nyilvános</option>
                </select>
                <button id="post_button">Megosztás</button>
                <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
                <script src="/js/new_post.js"></script>
            </div>
            <div id="posts"></div>
            <script src="/js/load_post.js"></script>
        </div>
    </div>

    <style>
        .root {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .new_post {
            border-style: solid;
            border-radius: 10px;
            border-width: 1px;
            border-color: #aaa;
            padding: 10px;
        }
        label {
            /*padding: 20px;*/
            display: inline-block;
            /*background-color: #f2f2f2;*/
            margin: 10px;
            margin-left: 0px;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header img {
            height: 150px;
        }

        * {
            font-size: xx-large;
        }

        #markdown img {
            width: 100%;
        }

        #posts img {
            width: 100%;
        }

    </style>
</div>